.menu{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}
.menu-item{
    padding:15px 20px;
    width: 18%;
    background-color: rgb(217, 208, 195);
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: rgb(50, 75, 78);
    border-bottom: 1px solid  rgb(242, 133, 133);
    transform: border 4s;
}
.menu-item i {
    margin-right: 10px;
}
.menu-item.selected{
    border-bottom: 3px solid red;
    color:rgb(235, 62, 62);
}