.cost {
  background-color: white;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.left-content {
  height: 100%;
  width: 50%;
}

.right-content {
  width: 50%;
  border-left: 1px solid rgb(216, 214, 214);
  color: gray;
}

.card-container {
  max-height: 340px;
  overflow: auto;
}
