.cost {
    background-color: white;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.left-content {
    height: 100%;
    border-right: 1px dotted gray;
    width: 50%;
}

.right-content {
    width: 48%;
    color: gray;

}

.card-container {
    max-height: 380px;
    overflow: auto;
}